# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE - VS Code
.vscode/

# IDE - IntelliJ
.idea/
*.iml

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos locais
application-local.properties